.title {
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    color: white;
    text-decoration: none;
}

.tit2 {
  text-align: left;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 3.4rem;
  margin-bottom: 01.5rem;
  color: white;
  text-decoration: none;
}

.colorthanic{
  color: #347771;
  font-size: 1.5rem;
  font-weight: 200;
}

.footer1 {
  position: absolute;
  font-weight: 200;
  padding-bottom: 1rem;
  margin-top: 8rem;
  margin-left: 4.4rem;
  margin-right: 4.4rem;
  text-align: center;
  font-size: 1.5rem;
}

.link1 {
  color: white;
  text-decoration: none;
  color: white;
}

.nolink {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  
}

.img1 {
  position: relative;
  margin-top: 2rem;
  margin-left: 80%;
  margin-right: 2rem;
  margin-bottom: -2rem;
  width: 2rem;
  height: 2rem;
  fill: -webkit-linear-gradient(180deg, #751cfa 0%, #d213fd 100%);
}

@media (max-width: 560px) {
  .tit2 {
    font-size: 3.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    text-decoration: none;
  }
}

