.tit {

    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 3rem;
    margin-bottom: 01.5rem;
    color: white;
    text-decoration: none;
}

.nolink {
    text-decoration: none !important;
}

h2 {
    text-decoration: none;
}

.tit4 {
    margin-top: 3rem;
    text-align: left;
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0rem;
    margin-bottom: -1rem;
}

.tit5 {
    margin-top: 0rem;
    text-align: left;
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0rem;
    margin-bottom: -1rem;
}

.logorv {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.morado {
    color: #A31DC1;
}

.horicard {
    margin-left: 2.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: center;
    margin-top: 0em;
}

.grid2 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: center;
}

.fina {
    font-weight: 300;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.2rem;
    text-align: center;
}


